{% extends 'main/base.html' %}

{% block content %}
<div class="container text-center">
  <h3>Вход</h3>
  <h3>Вы ещё не зарегистрированы? <a href="{% url 'home' %}">Зарегистрироваться</a></h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
</div>


<script>
  document.getElementById('id_username').classList.add('form-control');
  document.getElementById('id_password').classList.add('form-control');

  document.getElementById('id_username').placeholder = 'Введите логин'
  document.getElementById('id_password').placeholder = 'Введите пароль'
</script>

{% endblock %}